html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

*:focus{
    outline: none;
}


.j_width{
    padding-left: 20vw;
    padding-right: 20vw;
    position: relative;
}

.j_width_home{
    padding-left: 20vw;
    padding-right: 20vw;
    position: relative;
}

/* Hero */

.hero{
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background: rgb(0,153,0);
    background: linear-gradient(0deg, rgba(0,153,0,1) 48%, rgba(0,153,0,1) 100%);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.hero .hero_content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}


.hero .hero_content h1{
    color: #fff;
    font-size: 4rem;
    text-align: left;
    font-weight: 700;
    position: relative;
    z-index: 5;
    width: 100%;
}

.hero .hero_content p{
    text-align: left;
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
    width: 55%;
    border-left: 1px solid #fff;
    padding-left: 1rem;
    margin-top: 2rem;
    line-height: 2.5rem;
}

#hero_imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* #hero_imgs::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
} */

#hero_imgs img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero_imgs img.active{
    z-index: 3;
}

@media only screen and (max-width: 850px) {

    .hero .hero_content h1{
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
    }

    .hero .hero_content p{
        width: calc(100% - 5rem);
        font-size: .95rem;
        line-height: 1.8rem;
        padding-left: 0rem;
        padding-right: 0rem;
        border-left: none;
        border-top: 1px solid #fff;
        text-align: center;
        padding-top: 1rem;
        margin: 3rem auto;
    }
}

.hero .hero_content hr{
    height: 1px;
    border: none;
    width: 100%;
    background-color: #fff;
    margin: 80px auto;
    margin-bottom: 2rem;
}


.hero .hero_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hero .hero_row div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #fff;
    flex-direction: column;
    height: 110px;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .hero .hero_content hr{
        margin: 2.5rem auto;
        margin-bottom: 1rem;
    }

    .hero .hero_row div{
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin-bottom: 1rem;
    }
    
}

.hero .hero_row div a{
    display: flex;
    color: #fff;
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 300;
    align-items: center;
    font-weight: 300;
    font-style: italic;
    letter-spacing: .5px;
}

.hero .hero_row div a span{
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    margin-right: 10px;
    animation: pulse 2s infinite;
    transform: scale(0.8);
    position: relative;
    letter-spacing: 0;
    font-style: normal;
    
}

.hero .hero_row div a span::before{
    content: ">";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

@keyframes pulse{
    0%{
        transform: scale(0.8);
        box-shadow: 0 0 0 10px rgba(151, 194, 71, .5);
    }

    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100%{
        transform: scale(0.8);
    }
}


.hero #video_bg{
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transition: transform 3000ms ease-out;
}

/* .hero::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 20%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); 
}

 .hero::after{
    content: "";
    position: absolute;
    z-index: -1;
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); 
} */

.hero::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(16, 141, 48);
    background: linear-gradient(0deg, rgba(16, 141, 48, 1) 48%, rgba(16, 141, 48,1) 100%);
    opacity: .65;
    /* background-color: rgba(25,135,74,.65); */
}

.sub_title{
    margin-bottom: 2rem;
}

section{
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #585858 !important;
    font-weight: 300 !important;
    font-size: 1rem;
    line-height: 2em;
    letter-spacing: .025em;
}

section:first-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
}

section span{
    color: #585858;
    font-size: 1rem;
    line-height: 2em;
    letter-spacing: .025em;
}

section strong, section b{
    font-weight: 700 !important;
    font-size: 1rem;
}

section pre, section p pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: rgba(0, 0, 0, 0.05);
    text-align: left;
    padding: 1rem;
    border-left: 3px solid #7a7a7a;
    margin-bottom: 2rem;
}

section pre em strong, section p pre em strong{
    display: block;
    margin-top: 1rem;
}

section p, section h3, section h4{
    margin-bottom: 3rem;
}


section h3, section h4, section h2{
    margin-bottom: 1rem;
}

section ol, section ul {
    margin: 0px 0;
    padding: 0;
    list-style-position: inside;
}

section ol li, section ul li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 1.5rem;
}

section ol li ul, section ol li ol{
    margin-top: 1.5rem;
    list-style-position: inside;
    margin-left: 1rem;
}

section table, section table tbody tr td{
    border: none;
}

section table{
    margin-bottom: 2rem;
}

section table tbody tr td{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    color: #585858;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2em;
    letter-spacing: .025em;
}


section table tbody tr td p:last-of-type{
    margin-bottom: 0;
}


.align_center{
    display: block;
    margin: 0 auto !important;
}

.align_left{
    float: left;
    margin-top: .5em;
    margin-right: 1rem;
}

.align_right{
    margin-top: .5em;
    float: right;
    margin-left: 1rem;
}

section p a{
    color: #3e8ede;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

section a{
    color: #3e8ede;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.main_title{
    width: 100%;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: #2b2b2b;
    font-size: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    letter-spacing: -1px;
    line-height: normal;
}

.main_title.centered{
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .main_title{
        font-size: 2.2rem;
    } 
}

.dark h1{
    color: #fff;
    display: flex;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dark{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    /* background-color: #93b13e; */ 
    background-color: #108d30;
    z-index: 1;
}

.dark::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/bg.svg") center/cover;
    z-index: -1;
    opacity: .2;
}


.carousel.cdark{
    background-color: #0e0e0e;
}

.carousel.cmdark{
    background-color: rgb(27, 27, 27);
}


.owl-carousel .item img{
    width: calc(100% / 3);
    height: 300px;
    object-fit: cover;
}


.owl-carousel .item h5{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
}

.owl-carousel .item h5 span{
    color: rgb(48, 48, 48);
    font-weight: 300;
    font-size: .9rem;
}

.owlnav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    height: 50px;
    background-color: #fff;
    width: 100px;
    left: 0px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.owlnav i{
    color: rgb(161, 161, 161)
}

.owlnav span{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 150ms;
}

.owlnav span:first-of-type{
    margin-right: 3px;
}

.owlnav span:last-of-type{
    margin-left: 3px;
}

.owlnav span:hover{
    transform: scale(.9);
}

.owlnav span i{
    color: #616161;
}


.carousel_home, .carousel{
    background-color: #fff;
    width: 90vw;
    margin-top: -100px;
    z-index: 50;
    position: relative;
    padding-left: 20px;
    margin-left: 20vw;
    padding-bottom: 5px !important;
    padding-top: 20px !important;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .1);
}

.carousel.ccenter{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 20vw;
    padding-right: 20vw;
    box-shadow: none;
}

.carousel.cl_2{
    display: none;
}

.carousel.ccenter .owlnav{
    justify-content: center;
}

.carousel.ccenter .owl-carousel .item img{
    height: 250px;
}

.rect{
    margin-top: -750px;
    position: relative;
    height: 850px;
    width: 80vw;
    z-index: -2;
    /* background-color: #d8d8d8; */
    /* background-color: #f1e4d3; */
    background-color: #0F7F2C;
    border-bottom-right-radius: 15%;
}

.rect.crect{
    display: none;
}

@media only screen and (max-width: 1350px) {
    .owl-carousel .item img{
        height: 300px;
    }
}


@media only screen and (max-width: 1200px) {
    .carousel.ccenter{
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media only screen and (max-width: 1150px) {
    .owl-carousel .item img{
        height: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .owl-carousel .item img{
        height: 300px;
    }

    .carousel .owl-carousel{
        margin: 1rem auto;
    }

    .carousel.ccenter{
        padding-left: 10px;
        padding-right: 10px;
    }

    section{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    section:first-of-type{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    section ol li, section ul li {
        margin: 0px;
        padding: 0px;
        text-indent: -1.2em;
        margin-left: 1.5em;
        margin-bottom: 1.5rem;
    }

    .carousel_home, .carousel{
        background-color: #fff;
        width: 100%;
        margin-top: 0;
        z-index: 50;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }

    .rect{
        display: none;
    }

    .owlnav{
        justify-content: center;
    }

}


@media only screen and (max-width: 760px) {
    section p img, section img{
        max-width: 100%;
        height: auto;
    }

    section ol li ul, section ol li ol{
        margin-top: 1.5rem;
        list-style-position: inside;
        margin-left: .5rem;
    }
}


.spacer{
    height: 100px;
    position: relative;
    z-index: 5;
}


footer{
    background-color: #d8d8d8;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p{
    font-weight: 300;
    font-size: .75rem;
    color: rgb(17,17,17);
}

footer a{
    position: absolute;
    display: flex;
    height: 50px;
    width: 50px;
    top: -25px;
    background-color: #009900;
    border: 1px solid #009900;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.85, 0, 0.15, 1);
}

footer a:hover{
    transform: scale(.9);
    background-color: rgb(17,17,17);
    color: #009900;
}

.intro{
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: height 1s cubic-bezier(0.85, 0, 0.15, 1);
    overflow: hidden;
}

.intro .bar{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #26292d;
    width: 0;
    height: 15px;
    animation: growBar 600ms 300ms linear forwards;
    z-index: -1;
}

.intro .rect{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #26292d;
    height: 0;
    width: 100%;
    animation: growRect 600ms 1000ms cubic-bezier(0.85, 0, 0.15, 1) forwards;
    z-index: -1;
}

.intro img{
    width: 400px;
    transition: transform .95s cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes growBar{
    to{
        width: 100%;
    }
}

@keyframes growRect{
    to{
        height: 100%;
    }
}


.seminar_row, .partner_row, .upcoming_event_row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


.seminar_col{
    width: calc((100% / 3) - 2rem);
    margin-bottom: 2rem;
}

.partner_col{
    width: calc((100% / 4) - 2rem);
    margin-bottom: 2rem;
    transition: padding 300ms ease-out;
    cursor: pointer;
    position: relative;
}

.upcoming_event_row{
    background-color: #f1f1f1;
    padding: 2rem;
    padding-bottom: 0;
}

.partner_col img{
    width: 100%;
    height: 210px;
    object-fit: contain;
    object-position: center;
    transition: height 300ms ease-out;
}

.seminar_col img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin: 0;
}

.partner_col:hover{
    padding: 1rem;
}


.partner_col:hover img{
    height: calc(210px - 2rem)
}

.seminar_col h2, .partner_col h2{
    font-size: 1rem;
    text-align: center;
    margin: 1rem auto;
    line-height: 1.2rem;
    color: #2b2b2b;
}

.seminar_col p{
    font-size: .9rem;
    text-align: center;
    line-height: 1.8rem;
}

.seminar_col a{
    display: block;
    margin: 0 auto;
    font-weight: 700;
    color: #26292d;
    font-size: .9rem;
    text-align: center;
}

.bgnet_title{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    border-bottom: 1px solid #2b2b2b;
    border-top: 1px solid #2b2b2b;
    padding: 2.5rem 0;
    color: #2b2b2b;
    font-size: 2rem;
    text-transform: uppercase;
}

.hamb{
    display: none;
}


@media only screen and (max-width: 1750px) {
    .upcoming_event_col{
        height: 450px;
    }
    
    .upcoming_event_col .uec_text{
        height: calc((450px - 15px) - 260px);
    }
}

@media only screen and (max-width: 1550px) {
    .upcoming_event_col{
        height: 500px;
    }
    
    .upcoming_event_col .uec_text{
        height: calc(500px - 15px - 260px);
    }
}

@media only screen and (max-width: 1350px) {
    .seminar_col img, .upcoming_event_col .uec_img img{
        height: 230px;
    }

    .j_width{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .j_width_home{
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .upcoming_event_col{
        height: 430px;
    }
    
    .upcoming_event_col .uec_text{
        height: calc((400px - 15px) - 230px);
    }
}

@media only screen and (max-width: 1200px) {
    .j_width{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .j_width_home{
        padding-left: 20vw;
        padding-right: 20vw;
    }

}

@media only screen and (max-width: 1000px) {
    .seminar_col, .upcoming_event_col{
        width: calc((100% / 2) - 1rem);
    }

    .partner_col{
        width: calc((100% / 2) - 1rem);
        margin-bottom: 1rem;
    }
    
}

@media only screen and (max-width: 900px) {
    .j_width{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 700px) {

    .seminar_col img, .upcoming_event_col .uec_img img{
        height: 350px;
    }

    .seminar_col, .upcoming_event_col{
        width: 100%;
    }

    .upcoming_event_col.dummy{
        display: none;
    }

    .upcoming_event_col{
        height: 510px;
    }
    
    .upcoming_event_col .uec_text{
        height: calc(495px  - 350px);
    }
    
}

@media only screen and (max-width: 1000px) {


    .spacer{
        height: 70px;
    }


    .hamb{
        display: flex;
        height: 70px;
        width: 70px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamb i{
        color: #fff;
        font-size: 1.5rem;
        transition: transform 250ms ease-out;
    }

   
}


@media only screen and (max-width: 600px) {

    .seminar_col img, .upcoming_event_col .uec_img img{
        height: 290px;
    }

    .upcoming_event_col{
        height: 450px;
    }
    
    .upcoming_event_col .uec_text{
        height: calc(435px  - 290px);
    }

}

.animated_link_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.animated_link_div .ald{
    text-decoration: none;
    cursor: pointer;
    width: 420px;
    min-width: 420px;
    height: 50px;
    overflow: hidden;
    display: flex;
    border: 3px solid #26292d;
    transition: width 350ms cubic-bezier(0.85, 0, 0.15, 1), min-width 350ms cubic-bezier(0.85, 0, 0.15, 1);
    margin-bottom: 2rem;
}

.animated_link_div .ald:hover{
    width: 100%;
    min-width: 100%;
}

.animated_link_div .ald .ald_title{
    width: 420px;
    min-width: 420px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #26292d;
    padding: 0 1rem;
}

.animated_link_div .ald .ald_content{
    height: 50px;
    width: calc(100% - (420px + 160px));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 450ms cubic-bezier(0.85, 0, 0.15, 1);
    font-size: .8rem !important;
    line-height: 1.1rem !important;
    padding: 0 1rem;
    color: #3e8ede;
    word-break: break-all
}

.ald_btn_wrapper{
    display: flex;
}

.animated_link_div .ald_preview, .animated_link_div .ald_download{
    width: 80px;
    height: 50px;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7a7a7a;
    transition: background-color 300ms cubic-bezier(0.85, 0, 0.15, 1);
}

.animated_link_div .ald_visit{
    width: 160px;
    height: 50px;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7a7a7a;
    transition: background-color 300ms cubic-bezier(0.85, 0, 0.15, 1);
}

.animated_link_div .ald_preview:hover, .animated_link_div .ald_download:hover, .animated_link_div .ald_visit:hover{
    background-color: #d4ff6f;
}

.animated_link_div .ald_preview a, .animated_link_div .ald_download a, .animated_link_div .ald_visit a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.animated_link_div .ald_preview i, .animated_link_div .ald_download i, .animated_link_div .ald_visit i{
    font-size: .75rem;
    color: #fff;
}

.animated_link_div .ald_preview span, .animated_link_div .ald_download span, .animated_link_div .ald_visit span{
    font-size: .75rem;
    color: #fff;
}

.animated_link_div .ald_preview:hover i, .animated_link_div .ald_download:hover i, .animated_link_div .ald_visit:hover i{
    color: #222428;
}

.animated_link_div .ald_preview:hover span, .animated_link_div .ald_download:hover span, .animated_link_div .ald_visit:hover span{
    color: #222428;
}

.animated_link_div .ald:hover .ald_title{
    background-color: #26292d;
    color: #fff;
}

.animated_link_div .ald:hover .ald_content{
    opacity: 1;
}


@media only screen and (max-width: 900px) {
    .animated_link_div .ald{
        text-decoration: none;
        cursor: pointer;
        width: 300px;
        min-width: 300px;
        height: 50px;
        transition: height 350ms cubic-bezier(0.85, 0, 0.15, 1);
        flex-direction: column;
    }

    .animated_link_div .ald .ald_title{
        width: 300px;
        min-width: 300px;
        min-height: 50px;
    }

    .animated_link_div .ald:hover{
        height: 150px;
        min-width: 300px;
        width: 300px;
    }

    .animated_link_div .ald .ald_content{
        height: 50px;
        width: 300px;
        font-size: .8rem;
    }

    .ald_btn_wrapper{
        height: 50px;
    }

    .animated_link_div .ald_preview, .animated_link_div .ald_download{
        width: 50%;
    }

    .animated_link_div .ald_visit{
        width: 100%;
    }
}

.bdrop{
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade 300ms ease-out forwards;
}

.bdrop div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-height: 90vh;
    width: 60vw;
    max-width: 60vw;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 300ms 300ms ease-out forwards;
}

.bdrop div object{
    height: 100%;
    width: 100%;
}

.bdrop div object p{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.bdrop span{
    top: 2rem;
    right: 4rem;
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
    padding: 2px .7rem;
    border-radius: 15px;
    border: 1px solid #fff;
    transition: background-color 300ms ease-in-out;
}

.bdrop span:hover{
    background-color: #fff;
    color: #26292d
}

@keyframes fade{
    to{
        opacity: 1;
    }
}

@keyframes slideDown{
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1000px) {
    .bdrop div{
        height: calc(90vh - 12px);
        max-height: calc(90vh - 12px);
        width: 95vw;
        max-width: 95vw;
        margin-bottom: 12px;
    }

    .bdrop span{
        top: unset;
        right: unset;
        left: 50%;
        bottom: 10px;
        font-size: .75rem;
        transform: translateX(-50%);
    }
}


.j_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: calc(5rem + 50px);
    height: 400px;
}

.j_header.noCarousel{
    padding-bottom: 5rem;
}

.j_header .header_title_wrapper{
    height: 100%;
    width: 70%;
}

.j_header .header_title{
    font-size: 2.5rem;
    line-height: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}



.j_header .header_sections{
    width: 30%;
}

.j_header .section_links{
    display: flex;
    flex-direction: column;
}

.j_header .section_links a{
    font-size: .8rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1rem;
    margin-bottom: .5rem;
}

.j_header .section_links a b{
    font-size: .8rem;
}

.j_header .section_links a:hover{
    color: #fff
}

.j_header .hq{
    position: relative;
    text-align: center;
    margin-top: 3rem;
}

@media only screen and (max-width: 700px) {
    .j_header .header_title_wrapper, .j_header .header_sections{
        width: 100%;
    }

    .j_header .header_sections{
        margin-top: 4rem;
    }

    .j_header .header_title{
        font-size: 1.8rem;
        text-align: center;
    }
}

.bot_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot_nav a{ 
    font-weight: 700;
    color: #222428;
    font-size: 1.1rem;
}

.bot_nav a i{
    font-size: .8rem;
}

.afghan_uni_logos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.afghan_uni_logos .partner_logo_afghan{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.afghan_uni_logos .partner_logo_afghan img{
    width: 100%;
    transition: opacity 200ms, transform 300ms;
    margin-bottom: 1rem;
}

.afghan_uni_logos .partner_logo_afghan h2{
    font-size: .85rem;
    font-weight: 300;
    text-align: center;
    background-color: rgb(22, 22, 22);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 200ms, transform 300ms;
    transition-delay: transform 200ms;
    padding: 1px 1rem !important;
    line-height: normal;
    color: #fff;
    border-radius: 17px;
    width: 70%;
    margin: 0 auto;
}

.afghan_uni_logos .partner_logo_afghan:hover img{
    filter: grayscale(0);
    opacity: 1;
}

.afghan_uni_logos .partner_logo_afghan:hover h2{
    opacity: 1;
    transform: translateY(0px);
}



.slider_wrapper{
    position: absolute;
    z-index: -2;
    bottom:  0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.bg-carousel-wrapper{
    margin-top: 200px;
}

.bcwl{
    margin-top: -659px;
    margin-right: 30px;
}

.slider_wrapper .bg-carousel{
    width: 500px;
}

.slider_wrapper .bg-carousel .item{
    width: 500px;
    height: 400px;   
}

.slider_wrapper .bg-carousel .item img{
    width: 500px;
    height: 400px;    
    object-fit: cover;
}

.slick-slide{
    margin-top:  15px;
    margin-bottom:  15px;
}

.hcl{
    transform: rotate(180deg);
}

.slider_wrapper .hcl .item img{
    transform: rotate(180deg);
}

.pc_wrapper{
    height: 100px;
    width: 100%;
    position: relative;
    margin: 4rem auto;
}

.pc_wrapper h1{
    color: #108D30;
    text-align: center;
    font-size: 100px;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .2;
    font-style: italic;
    width: 100%;
}

#partner_carousel{
    width: 100%;
    height: 100px;
    padding: 0;
}


#partner_carousel .item{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: auto;
} 

#partner_carousel .item h2{
    color: #0f5e23;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    transition: opacity 300ms;
    position: relative;
    z-index: 1;
    cursor: default;
}

#partner_carousel .item img{
    height: 100px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: opacity 300ms;
    opacity: 0 !important;
}


#partner_carousel .item:hover h2{
    opacity: 0.3 !important;
}

#partner_carousel .item:hover img{
    opacity: 1 !important;
}

.vlinel, .vliner{
    position: absolute;
    left: 0;
    width: 1rem;
    height: 2px;
    background-color: #0f5e23;
}

.vliner{
    left: unset;
    right: 0;
}


@media only screen and (max-width: 1250px) {
    .pc_wrapper h1{
        font-size: 90px;
    }
}


@media only screen and (max-width: 1150px) {
    .pc_wrapper h1{
        font-size: 80px;
    }
}

@media only screen and (max-width: 1000px) {
    .pc_wrapper h1{
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    .pc_wrapper h1{
        font-size: 60px;
    }
}

@media only screen and (max-width: 700px) {
    .pc_wrapper h1{
        font-size: 50px;
    }
}

.mtop{
    margin-top: 0;
}

.j_home{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.upevet{
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100%;
    padding-left: 1rem;
}

.upevet_content{
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.upevet_content h1{
    margin-bottom: 1rem;
}



.upcoming_event_col{
    width: 100%;
    background-color: #fff;
    height: 430px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.upcoming_event_col .uec_img{
    width: 100%;
    height: 260px;
    position: relative;
}

.upcoming_event_col .uec_text{
    margin-top: 15px;
    height: calc(415px - 260px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.upcoming_event_col .uec_date{
    width: 80px;
    height: 100px;
    background-color: #108D30;
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upcoming_event_col .uec_date span{
    font-weight: 700;
    color: #fff;
    display: flex;
    margin: 0;
    line-height: 1.8rem;
    padding: 0;
}

.upcoming_event_col .uec_date .day{
    font-size: 2rem;
}

.upcoming_event_col .uec_date .year{
    font-weight: 300;
}

.upcoming_event_col .uec_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcoming_event_col .uec_text h5{
    padding: 0 15px;
    margin: 0;
    font-weight: 300;
    font-size: .8rem;
}

.upevet_content h2{
    color: rgb(24, 24, 24);
    margin-bottom: 5px;
    font-size: .9rem;
    font-weight: 400;
    padding: 0 15px;
    margin: 0;
    line-height: 1.2rem;
}

.upcoming_event_col a{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    font-size: .8rem;
}

.footnavbar_w{
    position: absolute;
    right: 0;
    top: -4rem;
    width: 20vw;
    height: calc(100% + 4rem);
    padding-left: 1rem;
}

.footnavbar_w div{
    width: 100%;
    height: 100%;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .upcoming_event_col{
        height: 530px;
    }

    .upcoming_event_col .uec_text{
        height: calc(515px - 260px);
    }
}

@media only screen and (max-width: 900px) {
    .upevet{
        position: relative;
        right: unset;
        top: unset;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-bottom: 2rem;
    }

    .upevet_content{
        padding-top: 0rem;
        width: 100%;
        height: auto;
        border-left: none;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .upcoming_event_col{
        height: 430px;
    }

    .upcoming_event_col .uec_text{
        height: calc(415px - 260px);
    }

    .footnavbar_w{
        display: none;
    }
    
}

.resources_carousel .item{
    height: 500px;
}

.resources_carousel .video_wrapper{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    position: relative;
}

.resources_carousel .video_wrapper iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.resources_carousel_wrapper{
    padding: 5rem;
    position: relative;
    margin-bottom: 2rem;
}

.resources_carousel_wrapper span{
    position: absolute;
    z-index: 5;
    height: 100px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 40%;
    transform: translateY(-60%);
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 300ms ease;
}

.resources_carousel_wrapper span.rc_right{
    right: 5rem;
    left: unset;
}

.resources_carousel_wrapper span i{
    display: block;
    font-size: 2rem;
    color: #fff;
}

.resources_carousel_wrapper span:hover{
    opacity: 1;
}

.r_title{
    color: rgb(43, 43, 43);
    margin: 0;
    width: 100%;
    color: #2b2b2b;
    font-size: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    line-height: normal;
}

.r_subtitle{
    color: rgb(43, 43, 43);
    margin: 0;
    width: 100%;
    color: #2b2b2b;
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 1rem;
    line-height: normal;
}

.r_date{
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(143, 143, 143);
    font-family: 'Lexend Deca', sans-serif;
}

.resources_file_list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}


.resources_file_list a{
    font-weight: 500;
    margin-top: .8rem;
    font-size: 1.2rem;
    text-decoration: underline;
    color: rgb(112, 112, 112);
}

.resources_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
}

.resources_buttons a{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: .9rem;
    text-decoration: none;
    border: 2px solid rgb(43, 43, 43);
    color: rgb(43, 43, 43);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.v_curtain{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    top: 0;
    left: 0;
}

.cnp_title{
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.up_item{
    padding: 10px;
}


#carousel_comm_main_1 .owl-nav,
#carousel_comm_main_2 .owl-nav{
    position: absolute;
    top: 60%;
    margin: 0;
    z-index: 100;
    width: 100%;
    transform: translateY(-40%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0;
}

#carousel_comm_main_1 .owl-nav button,
#carousel_comm_main_2 .owl-nav button{
    height: 100%;
    width: 30px;
    margin: 0;
    padding: 0;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .2;
}

#carousel_comm_main_1 .owl-nav button:hover,
#carousel_comm_main_2 .owl-nav button:hover{
    opacity: 1;
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}


#carousel_comm_main_1 .owl-nav button span,
#carousel_comm_main_2 .owl-nav button span{
    font-size: 2rem;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 145, 36,1);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#carousel_comm_main_1 .owl-dots .active span,
#carousel_comm_main_2 .owl-dots .active span{
    background: rgba(6, 145, 36,1);
}


