.full_nav{
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left{
    position: relative;
    z-index: 100;
}

.nav_left .logos{
    display: flex;
    align-items: center;
}

.nav_left .logos a{
    height: 70px;
    display: flex;
}

.nav_left .logos a:first-of-type{
    margin-right: 15px;
}

.nav_left .logos a img{
    height: 100%;
}

.nav_right{
    width: 150px;
    position: relative;
}

.hamburger{
    height: 55px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.hamburger p{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: .85rem;
    color: #fff;
    letter-spacing: .2em;
}

.hamburger .lines{
    height: 10px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hamburger .lines span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: flex;
    transition: transform 150ms ease-in-out ;
}

.nav_items{
    position: absolute;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    transition: max-height 450ms;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    min-width: 350px;
}

.nav_items .nav_item{
    color: #fff;
    font-size: .9rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav_items .nav_item span{
    padding: 1rem;
    align-items: center;
    display: flex;
    width: 100%;
}

.nav_items .nav_item:hover span{
    background-color: #108d30;

}

.nav_items .nav_item:last-child{
    border-bottom: none;
}


.nav_items .nav_item i{
    font-size: .6rem;
}

.nav_item_submenu, .nav_item_sub_submenu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 450ms;
}

.nav_item_sub_submenu{
    padding: 0 1rem;
}

.nav_item_submenu a, .sub_nav_item{
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
    font-size: .9rem;
    display: flex;
    padding: 15px 2rem;
    align-items: center;
}

.nav_item_submenu a:hover, .nav_item_submenu .sub_nav_item:hover{
    background-color: #16c242;
    color: #fff;
}


.maxH{
    max-height: 1000px;
}

@media only screen and (max-width: 700px) {
    .full_nav{
        background-color: rgb(17, 17, 17);
        height: 90px;
    }

    /* .nav_left .logos a{
        height: 70px;
    }
    
    .nav_left .logos a img{
        height: 70px;
    } */
    
    .nav_items{
        position: absolute;
        right: -10px;
        top: calc(100% + 5px);
        width: 100vw;
        padding: 0 2rem;
    }

    .nav_left .logos a{
        height: 40px;
    }
    
    .nav_left .logos a.aflp_logo{
        height: 40px;
    }

    .nav_left .logos a img{
        height: 100%;
    }
}

.partner_side_section{
    width: auto;
    position: fixed;
    z-index: 200;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 1rem .5rem;
    padding-left: calc(.5rem + 10px);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transition: padding 150ms;
    border-radius: 5px 0 0 5px;
    transition: right 300ms;
}

.partner_side_section .toggle_btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background-color: #e6e5e2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.partner_side_section .toggle_btn i{
    font-size: 10px;
    color: rgb(153, 153, 153);
}

.partner_side_section .partner_logo{
    margin-bottom: 2rem;
    filter: grayscale(1);
    opacity: .5;
    cursor: pointer;
    transition: width 150ms;
    width: 60px;
    position: relative;
}

.partner_side_section .partner_logo:hover{
    opacity: 1;
    filter: grayscale(0);

}

.partner_side_section .partner_logo img{
    width: 100%;
}

.partner_side_section .partner_logo h2{
    position: absolute;
    right: calc(100% + .5rem);
    text-align: center;
    font-size: .8rem;
    color: #ffffff;
    margin-bottom: 0;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.partner_side_section .partner_logo:hover h2{
    display: block;
}

.intro_backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}




